FourthAnnualCitizensCouncilReportODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"

  sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" 
    xmlns:sqf="http://www.schematron-quickfix.com/validator/process"> <!-- allows for you to copy and paste your Schema into the ODD file -->
    <sch:ns uri="http://www.tei-c.org/ns/1.0" prefix="tei"/>
    <sch:pattern>
      <sch:rule context="// tei:persName/@type">
        <sch:assert test=".='J.O. Sams'"></sch:assert>
        <!--  <sch:assert test=". = '#ebrooks'"></sch:assert>-->  <!-- . means where we are -->
        <!-- go to red push pin in the XML document. Click it, associate the Schema document. Test by looking at what you did --> <!-- use a schemmatron rule that looks to Standoff and constrains Ref. Point out to Standoff and make it so that the only values I can put on a Ref are values taht come from a Standoff. -->
      </sch:rule>
      <sch:rule context="// tei:placeName/@type">
        
      </sch:rule>
      <sch:rule context="// tei:name/@type">
        
      </sch:rule>
      
      <!--    <sch:pattern>
            <sch:rule context="tei:placeName/@ref">
                <sch:assert test=". ='#place' or .='#something'">
                    This @ref attribute must include a "#placexxx".
                </sch:assert>
            </sch:rule>
        </sch:pattern>  
        
        
        <!--  <sch:let name="taxonomyAllURIs"-->
      <!--    value= "$ti//listURI[@type='taxonomyAllURIs']/uri""/> -->
      
      <!--  <sch:let name="STO"  value="doc ('")-->
    </sch:pattern>
  </sch:schema>
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p> ODD Customization for Associaton of Citizens' Councils of Mississippi:Fourth Annual Report July 1958. Created for Digital Humanities 630 Spring 2023, Texas A and M University.</p>
      </publicationStmt>
      <sourceDesc>
        <p>Association of Citizens' Councils of Mississippi, "Association of Citizens' Council of Mississippi, 4th
          Annual Report" (1958). Pamphlets and Broadsides. 6.
          https://egrove.olemiss.edu/citizens_pamph/6  University of Mississippi, eGrove</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="FourthAnnualCitizensCouncilReportODD" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core" exclude=" ab analytic binaryObject del email measure measureGRp media meeting postBox postCode unit catchwrods castItem castgroup castList etym floruit foliation incident incipit xr phr iNode iType interp hom exemplum damageSpandataFacet docImprint castEvent epigraph gb geogName geogFeat gi gram gramGrpfvLib flunder g handShift height heraldry hi cl climate"/> 
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" exclude="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="namesdates" exclude="verse spoken textcrit iso-fs analysis msdescription transcr"/> 
        <moduleRef key="msdescription" exclude="colophon custodialHist"/> 
      
        <elementSpec ident="respStmt" module="header" mode="change">
          <content>
            <sequence preserveOrder="true">
              <elementRef key="resp" minOccurs="1" maxOccurs="1"/>
              <alternate>
                <elementRef key="orgName" minOccurs="1" maxOccurs="1"/>
                <elementRef key="name" minOccurs="1" maxOccurs="1"/>
              </alternate>
            </sequence>
          </content>
        </elementSpec>
        <elementSpec ident="respStmt" module="header" mode="change">
          <content>
            <sequence preserveOrder="true">
              <elementRef key="resp" minOccurs="1" maxOccurs="1"/>
              <alternate>
                <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
                <elementRef key="occupation" minOccurs="1" maxOccurs="1"/>
                <elementRef key="name" minOccurs="1" maxOccurs="1"/>
                <elementRef key="address" minOccurs="1" maxOccurs="1"/>
              </alternate>
            </sequence>
          </content>
        </elementSpec>
        
     <elementSpec module="namesdates" ident="residence" mode="change">
          <attList>
          <attDef ident="type" mode="change" usage="req">
            <datatype>
              <dataRef key="teidata.enumerated"/> 
            </datatype>
            <valList type="closed" mode="replace">
              <valItem ident="city">
                <gloss>City</gloss>
                <desc>The city in which they reside.</desc>
              </valItem>
              <valItem ident="address">
                <gloss>Address</gloss>
                <desc>The whole address of the person's residence.</desc>
              </valItem>
            </valList>
          </attDef>
        </attList> 
      </elementSpec>  
        
        <elementSpec module="core" ident="list" mode="add">
          <attList>
            <attDef ident="type" mode="add" usage="req">
              <datatype>
                <dataRef key="teidata.enumerated"/> 
              </datatype>
              <valList type="closed" mode="replace">
                <valItem ident="title">
                  <gloss>Title</gloss>
                  <desc>Refers to a title of a book or pamphlet that is being sold or advertised within the 4th annual report.</desc>
                </valItem>
                <valItem ident="title">
                  <gloss>Title</gloss>
                  <desc>Refers to a new topic title within the document.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList> 
        </elementSpec>  
        
      </schemaSpec> 
    </body>
  </text>
</TEI>
